<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel  fixed-top transparent">
        <div class="container">
            
               <i class="fab fa-instagram pr-1"></i> <a href="{% url 'insta-home'%}" class="btn btn-ins" class="nav-item nav-link">Home</a>

                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                </div>

                <div class="navbar-nav ">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="nav-item nav-link"  style="color: black;">logout</a>
                    <a href="{% url 'create-post'  %}"  class="nav-item nav-link" style="color: black;">Add Post</a>


                    
                   
                    {% else %}
                        <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                        <a href="{% url 'register' %}" class="nav-item nav-link">Register</a>

                    {% endif %}    
                </div>
            </div>
        </div>
    </nav>

</header>

