{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    {% if title %}
        <title>The-Gram - {{ title }}</title>
    {% else %}
        <title>The-Gram</title>
    {% endif %}

    {% block styles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">
    
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    {% endblock %}


    
</head>
<body>
     {% include "navbar.html" %} <br> <hr>   


     <main role="main" class="container">
            <div class="row">
                <div class="col-md-8">

                    {% if messages %}
                    {% for message in messages %}

                    <div class="alert alert-{{message.tags}}">
                        {{ message }}
                    </div>


                    {% endfor %}
                    {% endif %}


                    {% block content %}{% endblock %}
        
                </div>
        
                <div class="col-md-4">
                    <div class="content-section">
                            <div class="navbar-nav">
                                    {% if user.is_authenticated %}

                                    <div class="btn btn-danger btn-lg dropdown-toggle" type="button">
                                            <a class="btn btn-default" href="{% url 'profile' %}" class="nav-item nav-link">Update Profile</a>
                                            
                                            
                                    </div>

                
                                    {% endif %}    
                                </div>
                        <div class="jumbotron">

                                <form  role="search" action="{% url 'search_results' %}"  class="form-inline md-form mr-auto mb-4">
                                    
                                                  
                                    
                                        <input type="text" class="form-control" placeholder="Search username" name="username">
                                       
                                            <button type="submit" class="btn btn-unique btn-rounded btn-sm my-0">Search</button>
                                        
                                    
                        
                                </form> <br><br>
                                

                                

                                Comments: {{ user.comments.count }} <br>


                                {% for post in post %}<div class="overflow-auto">
                                        
                        
                                <article class="media content-section" class="d-inline-block bg-primary text-white">
                                        <img src="{{post.account_user.profile.image.url}}" class="rounded-circle article-img" alt="">
                                        <div class="media-body">
                                            <div class="article-metadata">
                                                
                                                <a href="#" class="mr-2">{{ post.account_user }}</a>
                                
                                                <a href="#"  ><i class="fa fa-heart fa-2x text-
                                                    liked" ></i></a><b>{{ post.like }}</b>
                                                    <br>
                                               
                                                   <a href="#" id="itemLike{{ post.id }}" data-rating=""><i class="fa fa-heart-o fa-2x text-
                                                    not-liked" id="heart-icon{{ post.id }}"></i></a><b id="like-count{{ post.id }}" 
                                                    class="like-count">{{ post.rating_count }}</b>


                                            </div>
                                
                                            </div>
                                <!-- make this a dropdown or something -->

                                        </div>
                                    </article>
                                    {% endfor %}



                        </div>
        
                    </div>
        
                </div>
        
            </div>
        
        </main>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>
   
<script>

function likeProduct(){
	$('a[id^=itemLike]').on("click", function(e) { // catch the form's submit event
		e.preventDefault();
		var aId = $(this).attr('id');
		var itemID = aId.substring(8);
		$.ajax({
			url:'/product/'+itemID+'/',
			success: function(data) { // on success..
				var rating_status = jQuery.parseJSON(data);
				if (rating_status.Success == "True") {
				$('a').find('#heart-icon' + itemID).removeClass('fa-heart-o text-not-liked').addClass('fa-heart text-liked');
				$('#like-count' + itemID).html(rating_status.count);
				} else if (rating_status.Removed == "True") {
				$('a').find('#heart-icon' + itemID).removeClass('fa-heart text-liked').addClass('fa-heart-o text-not-liked');
				$('#like-count' + itemID).html(rating_status.count);
				}
			},/* end of success */
			error: function(data) {
				setTimeout(function() {$('#errorModal').modal({backdrop:'static', 
                keyboard:false,show:true});}, 1000);
			}/*  end of error */
		});/* end of ajax */
	});/* end of onclick*/
};/* end of likeProduct()*/

</script>

    
<style>

h3,h1,h2,h4,h5,h6{
    color: #444444;
}
body{
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

ul{
    margin: 0%;
}
.bg-steel{
    background-color: rgb(175, 170, 158);
}
.site-header .navbar-nav .nav-link{
    color: #cbd5db;
}

.site-header.navbar-nav .nav-link:hover {
    color: #ffffff;
}
.site-header .navbar-nav .nav-link.active{
    font-weight: 500;
}
.content-section{
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom:20px ;
}
.article-title{
    color: #444444;
}

.article-content {
    white-space: pre-line;
}
.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
    color:#333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
.account-img {
    height: 125px;
    width: 125px;
    margin-right:20px ;
    margin-bottom: 16px;
}
.account-heading {
    font-size:2.5rem;
}

</style>


</body>
</html>