{% extends 'post/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}


<main role="main" class="container">
        <img src="{{post.account_user.profile.image.url}}" class="rounded-circle article-img" alt="">
        <div class="media-body">
            <div class="article-metadata">
                {% if current_user == post.user %}
                <h2 class="mr-2"><a href="{% url 'post-detail' post.id %}">{{ post.account_user }}</a></h2>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% endif %}
            </div>

    <div class="row">
        <div class="col-md-6">
            

            <img src="{{post.cover.url}}" class="card-img">
            <div class="alert alert-{{message.tags}}">
                
            </div>


       



        </div>

        <div class="col-md-6" >
            <div class="content-section" style="background-color:  rgb(243, 241, 236);">
                
                <form action="#" method="POST" >
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Add comment</legend>
                        <div class="card" style="background-color:  rgb(243, 241, 236);">
                            <div class="card-body" style="background-color:  rgb(243, 241, 236);">
                                    {{ form|crispy }}
                                   <button type="submit" value="Save" class="btn btn-dark">Submit</button> 
                                    </div>

                        </div>
                    </fieldset>
             
                </form>

            </div>

        </div>

    </div>

</main>




{% endblock %}