{% extends "post/base.html" %}


{% block content %}

<div class="jumbotron" style="background-color: rgb(243, 241, 236);">



    {% for post in post %}

    <article class="media content-section" style="background-color: rgb(243, 241, 236);">
        <img src="{{post.account_user.profile.image.url}}" class="rounded-circle article-img" alt="">
        <div class="media-body">
            <div class="article-metadata">
                {% if current_user == post.user %}
                <a href="{% url 'post-update' post.id %}" class="btn btn-default">Update Post</a>

                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% endif %}
            </div>


            <!-- make this a dropdown or something -->

            <button type="button" class="btn btn-comm"> <a
                href="{% url 'post-comment' post.id %}"><i class="fas fa-comments pr-1"></i></a></button>
                



            <p class="article-content"><a href="{% url 'post-detail' post.id %}"
                    class="article-title">{{ post.title }}</a></p>




        </div>
    </article>
    <div class="card-column">

        <img src="{{post.cover.url}}" class="card-img">


        <div class="card-footer">
            Comments: {{ user.comments.count }}




            {% for comment in user.comments.all %}



            <div class="">
                <small>{{comment.user}}</small>
                <div class="date">{{ comment.created_date }}</div>

                <p>{{ comment.text|linebreaks }}</p>
            </div>
            {% empty %}


            <p>No comments here yet :(</p>

            {% endfor %}








        </div>






    </div>


    {% endfor %}





</div>




{% endblock %}